<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
</head>
<body class="bg">

  <div class="table-responsive">
    <table class='table table-hover table-striped table-bordered tableWeatherDates'>
    <thead>
      <th>NR.</th>
      <th>LOCATION</th>
      <th>COORDINATES <span class="details">(Lat - Lon) </span></th>
      <th>TEMPERATURE <span class="details">(&#8451;) </span></th>
      <th>WIND SPEED <span class="details">(Km/h)</span></th>
  </thead>
<tbody>
        <tr *ngFor='let w of weatherData; let i = index;' class='cursor-pointer'>
          <td width='60px' class='numberDates'>{{i + 1}}</td>
          <td class="locationNames">{{w['name'] | uppercase}}</td>
          <td class="numberDates">
            <button type="button" class="btn btn-secondary numberDates" 
              (click)="showMap(w['coord']['Lat'], w['coord']['Lon'], w['name'], w['main']['temp']);">
                {{w['coord']['Lat'] | number: '1.4-4'}} - {{w['coord']['Lon'] | number: '1.4-4'}}
            </button>
          </td>
          <td class="numberDates">
            {{w['main']['temp'] | number: '1.2-2' }}
            <br>
            <span class="details">
              Min: {{w['main']['temp_min'] | number: '1.2-2'}}, 
              Max: {{w['main']['temp_max'] | number: '1.2-2'}}
            </span>
          </td>
          <td class="numberDates">{{w['wind']['speed'] | number: '1.2-2'}}</td>
        </tr>
        <tr colspan='5' *ngIf='!weatherData.length' class='text-center fw-bold'>
          <td>Date inexistente!</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>